{% extends 'base.html.twig' %}

{% block title %}Bateam créateur de logiciel {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    th{width:20%;font-family:arial;border:1px solid black;text-align:center;} td{border:1px solid black;text-align:center;}
    input{width:30%;height:40px;} .button {margin-left:40%;width:900px;} .tir,.dic,.dir{height:40px;cursor:pointer;border-radius:10px;background:#15A1F1;
    border:2px solid #15A1F1;font-size:16px;color:white;} #pak{display:none;position:absolute;top:0;left: 0;width:100%;height: 100%;background-color: black;z-index:1;opacity: 0.7;}
    #results,#result,#resul{padding:2%;width:30%;position:absolute;top:100px;left:30%;height:300px;font-size:15px;background:white;display:none;z-index:3} .movie{font-size:13px;}
    #pays{height:40px;}
</style>

 <div class="example-wrapper">
   
   <h1>Effectuer des recherches sur le nom du fil ou réalisateur du film</h1>

   <div class="button"> Statistique<button type="button" class="dir"> films les plus visitées</button> 
   <button type="button" class="dic">Avec le meilleur radio</button> <button type="button" class="tir">Meilleur moyenne de diffusion</button></div>

   <form method="post" action="" id="form_search">

   <input type="text" id="search" name="search" placeholder="Entrer le nom  ou le rélisateur du film"/>

   </form>

   <div id="select">
   <select name="pays" id="pays">
   {% for movies in pays %}
   
   <option value="{{ movies }}"> {{ movies }} </option>

   {% endfor %}
   </select>

   </div>

   <div id="resultats_search"></div>
   <div id="results"></div><!--retour ajax les top 5 films les plus consultés -->
   <div id="result"></div><!-- retour ajax des fils avec le radios -->
    <div id="resul"></div><!-- retour ajax des fils avec le radios -->
   <div id="pak"></div><!--afficher un fond noir pour la pop-->
   

   <h2>Listes des informations sur les réalisateurs</h2>
   <table id="movies_list">
   <th>Nom du film</th>
   <th>réalisateur</th>
   <th>Année de production</th>
   <th>Nationnalité</th>
   <th>Dernière diffusion</th>
   
   {% for movies in response %}
          <tr>
            <td>{{ movies.nom }}</td>
            <td>{{ movies.realisateur}}</td>
            <td>{{ movies.anneeProduction}}</td>
            <td>{{ movies.nationalite }}</td>
            <td>{{ movies.derniereDiffusion}}</td>
            </tr>
    {% endfor %}

    </table>
   
 </div>
{% endblock %}

 {% block javascripts %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>  
     <script src="{{ asset('js/scripts.js') }}"></script>
     
      <script>
     $(document).ready(function(){
     // recherche du nom du film ou rélisateur
     $('#search').keyup(function(){
     var search = $('#search').val();

     if(search.length > 0) {
       $.ajax({
	  type: 'POST', // on envoi les donnes
	  url:  '/ajax',// on traite par la fichier
      data : {search:search},
	 success:function(data) { // on traite le fichier recherche apres le retour
     $('#resultats_search').html(data);
     $('#movies_list').css('display','none');
	  }
	
	  });

      }
      });

     
       $('#search').blur(function(){
      $('#movies_list').css('display','block'); // afficher le tableau initial 
      $('#resultats_search').css('display','none');// cacher le tableau de la requete ajax
       });


       // actions clic sur les boutons
       // afficher les 5 fims les plus diffusées
        $('.dir').click(function(){
       $.ajax({
	    type: 'POST', // on envoi les donnes
         url:  '/ajax1',// on traite par la fichier
	    success:function(data) { // on traite le fichier recherche apres le retour
        $('#results').html(data);
        $('#pak').css('display','block');
        $('#results').css('display','block');
        
    
	  }
	
	  });

      });


      // actions clic sur les boutons
       // Top 5 des fimls avec le meilleurs radios
        $('.dic').click(function(){
       $.ajax({
	    type: 'POST', // on envoi les donnes
         url:  '/ajax2',// on traite par la fichier
	    success:function(data) { // on traite le fichier recherche apres le retour
        $('#result').html(data);
        $('#pak').css('display','block');
        $('#result').css('display','block');
        
      }
	
	  });

      });


       // actions clic sur les boutons
       // Top 5 des fimls avec le meilleurs radios
        $('.tir').click(function(){
       $.ajax({
	    type: 'POST', // on envoi les donnes
         url:  '/ajax3',// on traite par la fichier
	    success:function(data) { // on traite le fichier recherche apres le retour
        $('#resul').html(data);
        $('#pak').css('display','block');
        $('#resul').css('display','block');
        
      }
	
	  });

      });


      $('#pays').change(function() {
      
      var pays = $('#pays').val();

       $.ajax({
	    type: 'POST', // on envoi les donnes
         url:  '/ajax3',// on traite par la fichier
	    success:function(data) { // on traite le fichier recherche apres le retour
        $('#resul').html(data);
        $('#pak').css('display','block');
        $('#resul').css('display','block');
        
      }
	
	  });
      
      });


     $('#pak').click(function() {
      $('#results').css('display','none');
      $('#result').css('display','none');
      $('#resul').css('display','none');
      $('#pak').css('display','none');
      
      });

      });
     
     </script>
     
     {% endblock %}
   
  