{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome</h2>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.age) }}
        {{ form_row(form.pays) }}
        {# render each row and field in the embedded form, in this example it's rendering the experience (Exp) fiels as rows #}
        <div class="col-sm-8 col-sm-offset-2" id="exp_list" data-prototype="{{ form_widget(form.prodcuts.vars.prototype)|e('html_attr') }}">
            {% for row in form.prodcuts %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
    
                    </div>
                    <div class="panel-body">
                        {{ form_row(row) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {{ form_end(form) }}
{% endblock %}