{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameProduct</th>
                <th>NomProduct</th>
                <th>Date</th>
                <th>Adresse</th>
                <th>NumberId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.nameProduct }}</td>
                <td>{{ order.nomProduct }}</td>
                <td>{{ order.date ? order.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.adresse }}</td>
                <td>{{ order.numberId }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}
